.content-wrapper{
  border-bottom: 1px solid #ccc;
  padding: 0;
  margin: .12rem .15rem .12rem 0 ;
}
.movie-title{
  display: flex;
}
.tab-content{
  height: 100%;
  overflow: hidden;
}
.page{
  position: static!important;
}
.list-wrap{
  padding-bottom: .1rem;
}